<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stock-Seer股票评估</title>
    <!-- myself css -->
    <style>
        html,body{
        height:100%;
        width:100%;
        padding:0px;
        margin: 0px;
        border:0px;
        }
        .search-form{
            height: 100%;
            background-color: #a0a0a052;
        }
    </style>
    <script>
        //to predict page
        var stockCode = '<%= @stock.code %>';
        $('#btn_predict').on('click', function(){ loadPage('content', urlPrediction + stockCode ) });
    </script>
</head>
<body>
    <div class="container-fluid" style="height: 100%; margin-top: 4%">
        <h2 class="text-center">股票名称:<%= @stock.name %></h2>
        <div class="row" id="evaluation" style="height: 90%">
        </div>
        <button id="btn_predict" class="btn btn-primary" style="margin-left: 47%; margin-top: 1%">价格预测</button>
    </div>
    <script>
        var dom = document.getElementById("evaluation");
        var chartEvaluation = echarts.init(dom);
        var app = {};
        $(function(){
            $.ajax({
                type: 'GET',
                beforeSend: function(xhr) {
                    chartEvaluation.showLoading();
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                url: '/evaluate/'+ stockCode,
                timeout: 40000,
                error: function(request){
                    alert('Oooops~ Something gose wrong.');
                    chartEvaluation.hideLoading();
                },
                success: function(evalData){
                    //alert('Yeah!');
                    curData = JSON.parse(evalData.evaluation);
                    oldData = JSON.parse(evalData.old_evaluation);
                    chartEvaluation.setOption({
                        series: [{
                            name: '本季度 vs 上季度',
                            data : [
                                {
                                    value : parseNum(curData[0]),
                                    name : '本季度'
                                },
                                {
                                    value : parseNum(oldData[0]),
                                    name : '上季度'
                                }
                            ]
                        }]
                    });
                    chartEvaluation.hideLoading();
                }
            });
        });
        option = null;
        option = {
            title: {
                text: '股票评估图'
            },
            tooltip: {},
            legend: {
                data: ['本季度', '上季度']
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                indicator: [
                { name: '净资产收益率 %', min: -100, max: 100},
                { name: '净利率 %', min: -500, max: 1000},
                { name: '净利润 万元', min: -2000, max: 2000},
                { name: '每股收益', min: -1, max: 2},
                { name: '资金经营现就流量回报率', min: -1, max: 1},
                { name: '现金流量比率', min: -100, max: 100},
                { name: '现金销售比率', min: -5, max: 5}
                ]
            },
            series: [{
                name: '本季度 vs 上季度',
                type: 'radar',
                // areaStyle: {normal: {}},
                data : [
                    {
                        value : [],
                        name : '本季度'
                    },
                    {
                        value : [],
                        name : '上季度'
                    }
                ]
            }]
        };

        if (option && typeof option === "object") {
            chartEvaluation.setOption(option, true);
        }
    </script>
</body>
</html>
