<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if !user.admin? %>
      <%= link_to "删除", user, method: :delete, data: { confirm: "确定要删除此用户吗?" } %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "返回" , @users.first %>


