<!DOCTYPE html>
<!--
    Created By Xuanzhengbo Ren, 2018.
    This page for user sign-up.
-->
<html>
<head>
    <meta charset="utf-8"> 
    <title>Stock-Seer用户注册</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- myself css-->
    <style>
        .signup-box{
            margin-top: 10%;
            border: 1px;
            border-style: solid;
            border-color: #88888865;
            border-radius: 10px;
        }
        .signup-form{
            margin-top:20px;
            margin-bottom: 20px;
        }
        .simple-font-h{
            margin-top: 4%;
            margin-bottom: 7%; 
            font-weight: bold; 
            font-family: sans-serif;
        }
        .mybtn-primary{
            width: 100%;
            background: #4ca0eb;
            color: white;

            border-radius: 30px;
        }
        .mybtn-primary:focus{
            background: #4ca1ebde;
        }
        .mybtn-primary:hover{
            background: #4ca1ebde;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
          <img src='<%=image_path("logo_mini.png") %>' alt="logo" style="width:60px;">
          <P style="display:inline">股票价格预测工具</P>
        </a>
    </nav>
      <div class="container-fluid">
          <div class="row">
              <div class="signup-box col-md-4 offset-md-4">
                    <h2 class="simple-font-h text-center">用户注册</h2>
                    <form class="signup-form" action="/regist" method="POST">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                                <label for="name">姓名:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Name">
                            </div>
                        <div class="form-group">
                            <label for="pwd">密码:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                                <label for="pwd">确认密码:</label>
                                <input type="password" class="form-control" id="cpwd" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn mybtn-primary">注册账号</button>
                    </form>
              </div>
          </div>
      </div>
</body>
</html>